{erl_opts, [debug_info, warnings_as_errors, warn_export_vars, warn_obsolete_guard, warn_unused_import, {parse_transform, lager_transform}]}.

{deps, [ranch, lager]}.

{profiles,
 [{test, [{deps, [erlsh]}
         ,{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {ref, "aa6a0a7ed249124761e00cb8dfe42e05494455b5"}}}]}
         ,{overrides, [{override, erlsh, [{plugins, [pc]}
                                         ,{artifacts, ["priv/fdlink"]}
                                         ,{provider_hooks, [{post, [{compile, {pc, compile}}
                                                                   ,{clean, {pc, clean}}
                                                                   ]}]}
                                         ]}]}
         ]}]}.
