{erl_opts, [debug_info, warnings_as_errors, warn_export_vars, warn_obsolete_guard, warn_unused_import, {parse_transform, lager_transform}]}.

{deps, [ranch, lager, gproc, getopt]}.

{relx, [{release, {slow_ride, "0.0.1"}, [slow_ride]}
       ,{dev_mode, true}
       ,{include_erts, false}
       ,{extended_start_script, true}
       ,{overlay, [{copy, "scripts/slow-ride-ctl", "bin/slow-ride-ctl"}]}
       ,{vm_args, "scripts/vm.args"}
       ]}.

{profiles,
 [{test, [{deps, [erlsh]}
         ,{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {ref, "aa6a0a7ed249124761e00cb8dfe42e05494455b5"}}}]}
         ,{overrides, [{override, erlsh, [{plugins, [pc]}
                                         ,{artifacts, ["priv/fdlink"]}
                                         ,{provider_hooks, [{post, [{compile, {pc, compile}}
                                                                   ,{clean, {pc, clean}}
                                                                   ]}]}
                                         ]}]}
         ]}]}.
